@model Sirindar.Core.Grupo
<div class="modal-header">
    <h4>Seguro que deceas eliminar el registro?</h4>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-lg-8">
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Nombre)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Nombre)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.GrupoAlimenticio.Grupo)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.GrupoAlimenticio.Grupo)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Porcentaje)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Porcentaje)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Gramos)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Gramos)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Kilocalorias)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Kilocalorias)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Equivalencias)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Equivalencias)
                </dd>
            </dl>
        </div>
    </div>
</div>
<div class="modal-footer">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="row">
            <div class="col-md-offset-7 col-md-2 col-sm-offset-7 col-sm-2">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
            </div>
            <div class="col-md-2 col-sm-2">
                <div class="form-actions no-color">
                    <input type="submit" value="Eliminar" class="btn btn-info" />
                </div>
            </div>
            <div class="col-md-1 col-sm-1"></div>
        </div>
    }
</div>
