@model Sirindar.Core.AsignacionBloque

<div class="modal-header">
    <div class="row">
        <div class="col-md-12">
            <h4>
                Quieres borrar esta asignacion?
            </h4>
        </div>
    </div>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-md-12">
            <dl class="dl-horizontal">
                <dt>
                    Deportista
                </dt>

                <dd>
                    @Model.Deportista.ToString()
                </dd>

                <dt>
                    Deporte
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Deporte.Nombre)
                </dd>

                <dt>
                    Bloque
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Bloque.Nombre)
                </dd>
            </dl>
        </div>       
    </div>
</div>
<div class="modal-footer">
    <div class="row">
        <div class="col-md-12">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-actions no-color">
                    <input type="submit" value="Delete" class="btn btn-default" /> |
                    @Html.ActionLink("Regresar", "Index")
                </div>
            }
        </div>
    </div>
</div>

